/build/coverage/
/build/docs/
/build/reports/

/build/cache.properties

/vendor/composer/
/vendor/container-interop/
/vendor/nikic/
/vendor/hassankhan/
/vendor/monolog/
/vendor/pimple/
/vendor/psr/
/vendor/slim/
/vendor/symfony/
/vendor/autoload.php

/composer.lock

!/build/.gitkeep
!/vendor/.gitkeep
